header {
    position: static;
    visibility: visible;
}

.header-contact-info div {
    position: static;
}

.main-nav-bar {
    width: 80%;
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav-bar-container {
    position: static;
    visibility: visible;
}

.nav-bar-container .main-menu ul li {
    position: static;
    visibility: visible;
}


.nav-bar-container svg {
    visibility: hidden;
}

.hero {
    position: relative;
    height: 64.2rem;
    z-index: 0;
}

.hero .slider-container {
    position: absolute;
    overflow-y: visible;
    height: 64.2rem;
    top: -3rem;
    z-index: 1;
}

.hero .slider-container::-webkit-scrollbar {
    display: none;
}

.hero ul, .hero li {
    height: 64.2rem;
}

/* .trends {
    position: absolute;
    top: 67.2rem;
} */

.trending-articles__container, .gamer-tips__container, .launches-articles__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}