* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Bai Jamjuree', sans-serif;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --header-font-color: rgb(117, 105, 105);
    --nav-left-borders: rgb(24, 24, 24);
    --background-black: #282828;
    --background-nav: rgb(40, 40, 40);
    --background-article: #292e38;
    --background-sections: #181c23;
    --planeta-geek-celeste: #03fbfa;
    --planeta-geek-shadow-celeste: #2e6e70;
    --planeta-geek-celeste-border: #5fe1e8;
    --red-notifications: #c40d24;
    --launches-fucsia: #fe009d;
    --fucsia-shadow: #BF0076;
    --palid-red: #FF214F;
    --vivid-red: #cf2e2e;
    --planeta-geek-yellow: #FBFA03;
    --planeta-geek-purple: #7E03FB;
    --purple-shadow: #5F02BC;
    --planeta-geek-green: #80FB03;
    --planeta-geek-blue: #0304FB;
    --ss: 1.2rem;
    --sm: 1.4rem;
    --md: 1.5rem;
    --lg: 1.8rem;
    --xlg: 2.2rem
}

header {
    width: 100%;
    height: 6rem;
    padding-top: 2rem;
    visibility: hidden;
    position: absolute;
}

header span, header span a {
    color: var(--header-font-color);
}

header span a {
    text-decoration: none;
}

.header-contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.header-contact-info div {
    display: flex;
    font-size: var(--md);
    position: absolute;
}

.header-contact-info .left {
    justify-content: start;
    padding-left: 3rem;
}

.header-contact-info .left p {
    margin-right: 2rem;
}

.header-contact-info .right {
    justify-content: end;
    padding-right: 3rem;
}

.header-contact-info .right a,
.header-contact-info .right span {
    font-family: 'Merriweather', serif;
    margin-right: 2rem;
}

.header-contact-info .right a {
    color: var(--planeta-geek-shadow-celeste);
}

/* main nav bar */

.main-nav-bar {
    width: 100%;
    height: 6rem;
    margin: 0 auto 0;
    position: relative;
    /* display: grid;
    grid-template-columns: 1fr 3fr; */
    display: flex;
    background-color: var(--background-black);
}

/* .main-nav-bar .logo-container {
    width: 30%;
} */

.main-nav-bar img {
    width: 13.56rem;
    height: 6rem;
    margin: auto auto;
}

.nav-bar-container {
    flex-grow: 1;
    justify-content: flex-end;
    display: flex;
}

.nav-bar-container .main-menu {
    height: 100%;
}

.nav-bar-container .main-menu ul {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.nav-bar-container .main-menu ul li {
    list-style: none;
    /* margin-left: 2rem; */
    position: absolute;
    visibility: hidden;
    border-left: 0.3rem solid var(--nav-left-borders);
    padding: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar-container .main-menu ul li a {
    text-decoration: none;
    font-size: var(--md);
    font-style: italic;
    color: var(--white);
}

#home {
    color: var(--planeta-geek-celeste);
}

.nav-bar-container svg {
    color: var(--white);
    border: 0.1rem solid var(--planeta-geek-celeste);
    border-radius: 0.3rem;
}

.menu-icon__container {
    width: 6rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1rem; */
}

/* Dropdown Menu */

/* .dropdown-menu-container {
    position: relative;
} */

nav #dropdown-list {
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    padding-left: 3rem;
    background-color: var(--background-black);
}

 #dropdown-list li {
    width: 100%;
    justify-items: center;
    list-style: none;
    line-height: 6rem;
    display: block;
}

 #dropdown-list li a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--white);
    font-size: var(--md);
}

#dropdown-list #home2 {
    color: var(--planeta-geek-celeste);
}


/* Hero */

.hero {
    width: 100%;
    min-height: 18.1rem;
    max-height: 64.2rem;
    text-align: center;
    background-color: var(--background-sections);
}

.hero .slider-container {
    overflow: hidden;
    width: 100%;
    min-height: 18.1rem;
    max-height: 64.2rem;
}

.hero .slider-container ul {
	display: flex;
	padding: 0;
	width: 400%;
    min-height: 18.1rem;
    max-height: 64.2rem;

	animation: cambio 15s infinite alternate linear;
}

.hero .slider-container li {
	width: 100%;
    min-height: 18.1rem;
    max-height: 64.2rem;

	list-style: none;
}

.hero img {
    width: 100%;
    height: 100%;
}

/* TENDENCIAS */

.trends, .gamer-tips, .launches {
    background-color: var(--background-sections);
    width: 100%;
    padding: 5rem 1rem 2rem;
}

.title-container {
    width: 100%;
    display: flex;
    height: 6rem;
    padding: 0 2rem 0;
}

.trends .title-container h2 {
    background-color: var(--planeta-geek-celeste);
    color: var(--black);
    font-size: var(--xlg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem 0;
}

.trends .title-container p {
    flex-grow: 1;
    border-bottom: 0.3rem solid var(--planeta-geek-celeste);
}


.trend-1__container, .trend-2__container, .trend-3__container {
    width: 30rem;
    height: 59rem;
    background-color: var(--background-article);
    margin: 4rem auto 0;
    padding-bottom: 1rem;
}

.trend-1__container, .trend-2__container, .trend-3__container {
    overflow-y: auto;
}

.trend-1__container::-webkit-scrollbar, .trend-2__container::-webkit-scrollbar, .trend-3__container::-webkit-scrollbar {
    display: none;
}


.trend-1 .img1-container {
    /* width: 100%; */
    width: 30rem;
    height: 20rem;
    background-image: url('./assets/imgs/trend1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top: 1.5rem; */
}

.trend-2 .img2-container {
    /* width: 100%; */
    width: 30rem;
    height: 20rem;
    background-image: url('./assets/imgs/trend2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top: 1.5rem; */
}

.trend-3 .img3-container {
    /* width: 100%; */
    width: 30rem;
    height: 20rem;
    background-image: url('./assets/imgs/trend3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top: 1.5rem; */
}

.trend-1 h3, .trend-2 h3, .trend-3 h3 {
    width: 100%;
    color: var(--planeta-geek-celeste-border);
    margin-top: 1rem;
    font-size: var(--lg);
    padding: 1rem 2rem 0;
}

.trend-1 p, .trend-2 p, .trend-3 p {
    width: 100%;
    color: var(--white);
    font-weight: 300;
    margin-top: 1rem;
    font-size: var(--md);
    padding: 0 2rem 0;
    line-height: 2.5rem;
}

.trend-1 a {
    width: 100%;
    color: var(--planeta-geek-celeste-border);
}

/* GAMER TIPS */

.gamer-tips .title-container h2 {
    background-color: var(--planeta-geek-purple);
    color: var(--white);
    font-size: var(--xlg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem 0;
}

.gamer-tips .title-container p {
    flex-grow: 1;
    border-bottom: 0.3rem solid var(--planeta-geek-purple);
}

.tip-1__container, .tip-2__container {
    width: 30rem;
    height: 59rem;
    background-color: var(--background-article);
    margin: 4rem auto 0;
    padding-bottom: 1rem;
}

.tip-1__container, .tip-2__container {
    overflow-y: auto;
}

.tip-1__container::-webkit-scrollbar, .tip-2__container::-webkit-scrollbar {
    display: none;
}

.tip-1 .img1-container {
    width: 30rem;
    height: 20rem;
    background-image: url('./assets/imgs/tip1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* margin-top: 1.5rem; */
}

.tip-2 .img2-container {
    width: 30rem;
    height: 20rem;
    background-image: url('./assets/imgs/tip2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* margin-top: 1.5rem; */
}

.tip-1 h3, .tip-2 h3 {
    width: 100%;
    color: var(--purple-shadow);
    margin-top: 1rem;
    font-size: var(--lg);
    padding: 1rem 2rem 0;
}

.tip-1 p, .tip-2 p {
    width: 100%;
    color: var(--white);
    font-weight: 300;
    margin-top: 1rem;
    font-size: var(--md);
    padding: 0 2rem 0;
    line-height: 2.5rem;
}

.tip-1 a, .tip-2 a {
    width: 100%;
    color: var(--purple-shadow);
}


/* LAUNCHES */

.launches .title-container h2 {
    background-color: var(--launches-fucsia);
    color: var(--white);
    font-size: var(--xlg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem 0;
}

.launches .title-container p {
    flex-grow: 1;
    border-bottom: 0.3rem solid var(--launches-fucsia);
}

.launch-1__container, .launch-2__container, .launch-3__container {
    width: 30rem;
    height: 59rem;
    background-color: var(--background-article);
    margin: 4rem auto 0;
    padding-bottom: 1rem;
}

.launch-1__container, .launch-2__container, .launch-3__container {
    overflow-y: auto;
}

.launch-1__container::-webkit-scrollbar, .launch-2__container::-webkit-scrollbar, .launch-3__container::-webkit-scrollbar {
    display: none;
}

.launch-1 .img1-container {
    width: 30rem;
    height: 20rem;
    background-image: url('./assets/imgs/launch1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top: 1.5rem; */
}

.launch-2 .img2-container {
    width: 30rem;
    height: 20rem;
    background-image: url('./assets/imgs/launch2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top: 1.5rem; */
}

.launch-3 .img3-container {
    width: 30rem;
    height: 20rem;
    background-image: url('./assets/imgs/launch3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top: 1.5rem; */
}

.launch-1 h3, .launch-2 h3, .launch-3 h3 {
    width: 100%;
    color: var(--fucsia-shadow);
    margin-top: 1rem;
    font-size: var(--lg);
    padding: 1rem 2rem 0;
}

.launch-1 p, .launch-2 p, .launch-3 p {
    width: 100%;
    color: var(--white);
    font-weight: 300;
    margin-top: 1rem;
    font-size: var(--md);
    padding: 0 2rem 0;
    line-height: 2.5rem;
}

.launch-1 a, .launch-2 a, .launch-3 a {
    width: 100%;
    color: var(--fucsia-shadow);
}


/* ANIMACIONES */

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}

	50% {margin-left: -200%;}
	70% {margin-left: -200%;}

	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}